#Marriage{
    width: 1200px;
    height: 610px;
    background-image: url(../public/Images/wedding.jpg);
}
.card
{
    /* background-color: rgb(44, 224, 224); */
    /* width: 948px;
    height: 350px; */
    filter: contrast(90%);
   background-image: url(../public/Images/Metti.png);
   height: 320px;
}

h1{
    color: rgb(251, 251, 251);
    text-shadow: 2px 3px 5px #000000;
}
.container
{
    background-color: darkslategrey;
    /* //filter: opacity(.2); */

    /* background-image: url(../public/Images/dark-red-yellow-colorful-blur-background-vector.jpg); */
}